<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">

    <Appenders>
        <Console name="stdout">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} %c{1}: %m%n</Pattern>
            </PatternLayout>
        </Console>

        <File append="false" fileName="island.log" immediateFlush="false" name="IslandLog">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %c{1}: %m%n"/>
        </File>
    </Appenders>

    <!-- Log levels: Trace < Debug < Info < Warn < Error < Fatal -->
    <Loggers>
        <Logger additivity="false" level="info" name="fr.unice.polytech.si3.qgl.ise.Explorer">
            <AppenderRef ref="stdout"/>
        </Logger>

        <Logger additivity="false" level="trace" name="fr.unice.polytech.si3.qgl.ise.Explorer">
            <AppenderRef ref="IslandLog"/>
        </Logger>

        <Logger additivity="false" level="info" name="fr.unice.polytech.si3.qgl.ise.parsing.externalresources.ExtResSelector">
            <AppenderRef ref="IslandLog"/>
        </Logger>

        <Logger additivity="false" level="info" name="fr.unice.polytech.si3.qgl.ise.parsing.externalresources.ExtResParser">
            <AppenderRef ref="IslandLog"/>
        </Logger>
    </Loggers>

</Configuration>